/*spritesheet is 1646 x 600 px*/
body {
  background-color: black;
}

#mainBoard {
  
  margin: auto;
  width: 548px;
  height: 600px;
  background: url("SpriteSheet.v1.png") 6px -1px; /* cutting the sprite sheet*/
 
}



  